@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400&display=swap');

header {
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;


}

body {
    margin: 0;
    font-family: 'Readex Pro';
    font-size: 15px;
    background-color: rgb(5, 23, 43);


}

#icon {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    transform: scaleX(-1);
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -20px;

}

.section img {
    height: 120px;
    top: 330px;
    text-align: center;
    text-decoration-color: cornsilk;
}

.section h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 15px;
    font-size: 150%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 10px;
    margin-right: 65px;
    margin-left: 65px;
    padding-bottom: 3px;

}

.rectangle {
    height: 100%;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding-top: 2em;
    margin-bottom: 5em;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);

}

.rectangle img{
    height: 100%;
    width: 100px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }